<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nabrothers.codechess.core.dao.BattleRecordDAO">
    <insert id="insert" parameterType="com.nabrothers.codechess.core.po.BattleRecordPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        `BattleRecord`
        (
         `status`,
         `createTime`,
         `result`
         )
        VALUES
        (
         #{status},
         NOW(),
         #{result}
        )
    </insert>
    
    <select id="queryById" parameterType="java.lang.Integer" resultType="com.nabrothers.codechess.core.po.BattleRecordPO">
        SELECT * FROM
        `BattleRecord`
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.nabrothers.codechess.core.po.BattleRecordPO">
        UPDATE `BattleRecord` SET
        <trim suffixOverrides=",">
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="result != null">
                `result`=#{result},
            </if>
        </trim>
        WHERE id = #{id}
    </update>
</mapper>