#wrapper {
    width : 1200px;
    height: 768px;
    position: absolute;
    border: 5px solid lightgray;
    left: 50%;
    top: 50%;
    margin: -384px 0 0 -600px;
    background-color : black;
    display: flex;
}

#panel {
    width: 432px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#detail {
    width: calc(100% - 4px);
    height: 264px;
    border: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#logger {
    width: calc(100% - 100px);
    margin: 25px 50px;
    height: 450px;
    overflow-y: auto;
    word-break: break-all;
    color: white;
    background-color: black;
}

#logger p {
    margin: 5px;
}

.playerName {
    color: red;
    margin-left: 2px;
    margin-right: 2px;
}

.floorName, .wallName {
    color: greenyellow;
    margin-left: 2px;
    margin-right: 2px;
}

.highlight {
    color: yellow;
    margin-left: 2px;
    margin-right: 2px;
}

.debugText {
    color: gray;
}
