#wrapper {
    width : 1632px;
    height: 768px;
    position: absolute;
    border: 5px solid lightgray;
    left: 50%;
    top: 50%;
    margin: -384px 0 0 -816px;
    background-color : black;
    display: flex;
}

#canvasWrapper {
    position: relative;
    left: 0;
    top: 0;
    width: calc(32*24px);
}

#map {
    position: absolute; 
    left: 0; 
    top: 0;
    z-index: 0;
}

#mouseLayer {
    position: absolute; 
    left: 0; 
    top: 0;
    z-index: 1;
}

#stats {
    width: 432px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#detail {
    width: calc(100% - 4px);
    height: 214px;
    border: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#status {
    width: 100%;
    height: 550px;
}

#toolBar {
    display: flex;
    justify-content: end;
    height: 32px;
}

#downloadButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

#downloadButtonWrapper {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#uploadButton {
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 0;
}

#uploadButtonWrapper {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 1;
}

#panel {
    width: 432px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#settings {
    width: calc(100% - 4px);
    height: 264px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

#logger {
    width: calc(100% - 100px);
    margin: 25px 50px;
    height: 450px;
    overflow-y: auto;
    word-break: break-all;
    color: white;
    background-color: black;
}

#stepController {
    position: relative;
    top: 198px;
    display: flex;
    justify-content: space-evenly;
}

#seekbar {
    width: 100%;
    position: relative;
    top: 148px;
}

#stepInfo {
    width: 64px;
    height: 24px;
    font-size: 16px;
    color: white;
}

.play {
    padding: 0;
    height: 24px;
    background-color: black;
    border-style: solid;
    border-width: 12px 0 12px 24px;
    border-color: transparent transparent transparent white;
}

.pause {
    padding: 0;
    height: 24px;
    width: 24px;
    background-color: black;
    border-style: double;
    border-width: 0px 0px 0px 20px;
    border-color: white;
}

#buttonMulti {
    margin: 0 8px 0 8px;
    width: 48px;
    height: 24px;
    display: flex;
    color: black;
    align-items: center;
    font-size: 16px;
}

#logger p {
    margin: 5px;
}

.playerName {
    color: red;
    margin-left: 2px;
    margin-right: 2px;
}

.floorName, .wallName {
    color: greenyellow;
    margin-left: 2px;
    margin-right: 2px;
}

.highlight {
    color: yellow;
    margin-left: 2px;
    margin-right: 2px;
}

.debugText {
    color: gray;
}

.statusBar {

}

.superDiv {
    position: relative;
    height: 54px;
    margin: 8px;
    border-radius: 6px;
    border-style: solid;
    border-width: 3px;
}
.picture {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.fullBlood {
    background-color: red;
    z-index: 0;
    position: absolute;
    left: 80px;
    top: 30px;
    width: 200px;
    height: 10px;
    margin: auto;
    border-radius: 5px;
}
.realBlood {
    background-color: rgb(0, 255, 0);
    z-index: 1;
    position: absolute;
    left: 80px;
    top: 30px;
    width: 200px;
    height: 10px;
    margin: auto;
    border-radius: 5px;
}

.name {
    position: absolute;
    color: white;
    margin: 0;
    left: 80px;
    top: 2px;
}

.blood {
    font-size: 15px;
    position: absolute;
    color: white;
    margin: 0;
    left: 300px;
    top: 23px;
}

